{{ include_javascript('tools/fulltextsearch/javascripts/vendor/htmx.min.js') }}
{{ include_css('tools/fulltextsearch/styles/fulltextsearch.css') }}


<form
    id="fullTextSearch_searchwrapper"
    hx-post="{{  url({tag: 'api/fulltextsearch/search'}) }}"
    hx-trigger="load, keyup changed delay:250ms"
    hx-vals='{ "limit": {{ limit|e('js') }}, "tag": "{{ tag|e('js') }}" }'
    hx-target="#fullTextSearch_searchresult"

>
    <div class="input-prepend input-append input-group input-group-lg">
        <span class="add-on input-group-addon"><i class="fa fa-search icon-search"></i></span>
        <input
            class="form-control"
            type="text"
            name="fullTextSearch_search"
            placeholder="{{ _t('WHAT_YOU_SEARCH') }}"
            value="{{ defaultQuery|e('html_attr') }}"
        />
        <span class="input-group-addon">
            <i class="fa fa-spinner fa-spin"></i>
        </span>
    </div>

    <div id="fullTextSearch_searchresult"></div>
</form>
