<hr />
<p><b>{{ _t('FULLTEXTSEARCH_RESULT_LABEL') }} {{ results|length }}</b></p>

<div class="fullTextSearch_searchresult_wrappers">
    {% for result in results %}
        <div class="fullTextSearch_searchresult_item">
            <span class="h1">
                <a href="{{ url({ tag: result.tag }) }}">{{ result.tag }}</a>
                <span class="badge badge-secondary">
                    {{ categoryMap[result.tag] }}
                </span>
            </span>

            {% if result.excerpt.fulltext is not empty %}
                <p>{{ result.excerpt.getFullTextCleaned|trim|raw }}</p>
            {% endif %}
        </div>
    {% endfor %}
</div>
